@import url(wls-console-help.css);

BODY {padding:0; font-family: Tahoma,Arial, Helvetica, sans-serif;  font-size: 90%; scrollbar-face-color:#EEEEEE;
scrollbar-base-color:#EEEEEE;
scrollbar-shadow-color:#999999;
scrollbar-highlight-color:#CCCCCC;
scrollbar-3dlight-color:#EEEEEE;
scrollbar-darkshadow-color:#EEEEEE;
scrollbar-arrow-color:#666666;}

A:link, A:active, A:visited {COLOR: #0000aa; FONT-FAMILY:Tahoma,Arial,Helvetica,Verdana,sans-serif;}

A:hover {COLOR: #000000; FONT-FAMILY:Tahoma,Arial,Helvetica,Verdana,sans-serif; text-decoration: none; background-color: #E7EFFC;}

textarea, select, option {background-color: #E7EFFC;border: 1px solid #19355E; padding: 4px;}

.textinput{background-color: #E7EFFC; border: 1px solid #19355E; padding: 2px}

UL {font-family: Tahoma, Arial, Helvetica, sans-serif; list-style-image: url(core/images/bullet.gif);}


.button, .button:ACTIVE {font-family: Tahoma, Arial, Helvetica, sans-serif; text-decoration: none; text-align: center; color:#000000; background-color: #8EA8C6;  background-image: url(core/images/button_bg.gif);  background-repeat: repeat-x; 
border: 1px solid #4A637B; padding-top: 2px; padding-bottom: 2px; padding-left: 8px; padding-right: 8px; background-position: top;}

.button:HOVER {font-family: Tahoma, Arial, Helvetica, sans-serif; text-decoration: none; text-align: center; color:#FFFFFF; background-color: #19355E;  background-image: url(core/images/button_bg_hover.gif);  background-repeat: repeat-x; 
border: 1px solid #19355E;  padding-top: 2px; padding-bottom: 2px; padding-left: 8px; padding-right: 8px; background-position: bottom;}

.buttondisabled{font-family: Tahoma, Arial, Helvetica, sans-serif; text-decoration: none; text-align: center; color:#999999; background-color: #EEEEEE; 
border: 1px solid #999999;  padding-top: 2px; padding-bottom: 2px; padding-left: 8px; padding-right: 8px; background-position: bottom;}

.formdisabled {font-family: Tahoma, Arial, Helvetica, sans-serif; text-decoration: none; color:#666666; background-color: #FFFFFF; 
border: 1px solid #999999;  padding: 4px;}
	
}

.loginbg {background-color: #F6F6F6}

.logintop {background-image: url(core/images/login_banner_bg.gif); background-repeat: repeat-x; background-position: top; border: 1px solid #19355E;}

.loginmain {background-color: #FFFFFF; border-left: 1px solid #19355E; border-right: 1px solid #19355E; padding: 10px;}

.loginbottom{background-image: url(core/images/login_bottom.gif); background-repeat: repeat-x;}

.banner {background-image: url(core/images/banner_bg.gif); background-repeat: repeat-x; background-color: #19355E; background-position: top; border-bottom: 1px solid #19355E;}

.changelisthead{font-weight: bold; background-image: url(core/images/module_change_bg.gif);  background-repeat: repeat-x; border-bottom: 1px solid #6785A7; border-top: 1px solid #6785A7; padding: 4px; background-position: top; background-color: #8EA8C6; color: #19355E;}

.changehighlightright{width: 1px; background-image: url(core/images/module_change_highlight.gif);  background-position: top; 
border-bottom: 1px solid #6785A7; border-right: 1px solid #6785A7; border-top: 1px solid #6785A7; background: no-repeat #E7EFFC;}

.changehighlightleft{width: 1px; background-image: url(core/images/module_change_highlight.gif);  background-position: top;
border-bottom: 1px solid #6785A7; border-left: 1px solid #6785A7; border-top: 1px solid #6785A7; background: no-repeat #E7EFFC;}

.changelist{padding: 6px; border-left:1px solid #6785A7; border-right: 1px solid #6785A7; background-color: #E7EFFC; margin: 0;}

.navtree {border:1px solid #999999; background-color: #FFFFFF;}

.modulehead{background-image: url(core/images/module_title_bg.gif);  background-repeat: repeat-x; border-top: 1px solid #999999;  border-bottom: 1px solid #999999; padding: 4px; background-position: top; background-color: #CCCCCC;}

.modulehighlightleft{width: 1px; background-image:url(core/images/module_title_highlight.gif);  background-position: top;
border-bottom: 1px solid #999999; border-left: 1px solid #999999; border-top: 1px solid #999999; background: no-repeat; background-color: #FFFFFF;}

.modulehighlightright{width: 1px; background-image:url(core/images/module_title_highlight.gif);  background-position: top; 
border-bottom: 1px solid #999999; border-right: 1px solid #999999; border-top: 1px solid #999999; background: no-repeat; background-color: #FFFFFF;}

.domainstructure {border:1px solid #999999;}

A.domainlink, A.domainlink:ACTIVE, A.domainlink:VISITED{color:#000000; padding: 4px; text-decoration: none; }

A.domainlink:HOVER{color:#000000; background-color: #E7EFFC; padding: 4px; text-decoration: none;}

.taskhelp{line-height: 180%; padding: 6px; border-left:1px solid #999999; border-right: 1px solid #999999;
border-bottom: 1px solid #999999; background-color: #FFFFFF; margin: 0; }

.toplinks{padding: 4px; background-color: #E7EFFC; color: #4A637B; border-bottom: 1px solid #6785A7; border-top: 1px solid #6785A7;}

.toplinks2{background-color: #EEEEEE; color: #4A637B; border-bottom: 1px solid #6785A7; border-top: 1px solid #6785A7;}

.toplinksbold{ padding: 4px; background-color: #E7EFFC; color: #6785A7; font-weight:bold; border-bottom: 1px solid #6785A7; border-top: 1px solid #4A637B;}

.toplinksdivide {padding: 4px; background-color: #E7EFFC; color: #4A637B;border-right: 1px solid #6785A7; border-bottom: 1px solid #6785A7; border-top: 1px solid #6785A7;}

A.linktop, A.linktop:ACTIVE, A.linktop:VISITED{text-decoration: none; color: #4A637B; border-right: 1px dotted #4A637B;  border-bottom: 1px solid #4A637B; padding-top: 4px; padding-bottom: 4px; padding-right: 10px; padding-left: 10px;}

A.linktop:HOVER{color:#19355E; background-color: #E7EFFC;  border-right: 1px solid #4A637B; text-decoration: none; border-bottom: 1px solid #4A637B; padding-top: 4px; padding-bottom: 4px; padding-right: 10px; padding-left: 10px;}

.breadcrumb {background-color: #FFFFFF; COLOR: black; padding: 12px; FONT-FAMILY:Tahoma,Arial,Helvetica,Verdana,sans-serif;}

.inline {color: #606060}

.pagetitle {Font-size: 120%; font-weight: bold; text-align: left; padding: 8px; background-color: #F6F6F6; border-top: 1px solid #CCCCCC; border-left: 1px solid #CCCCCC; border-bottom: 1px solid #CCCCCC;}

.pagedetails{padding: 8px; text-align: right; background-color: #F6F6F6; border-top: 1px solid #CCCCCC; border-right: 1px solid #CCCCCC; border-bottom: 1px solid #CCCCCC;}

.pagetitlespacer{background-color: #F6F6F6; border-left: 1px solid #CCCCCC; border-right: 1px solid #CCCCCC;}

.tabselect {padding: 4px; border-left:1px solid #999999; border-right: 1px solid #999999;
border-top: 1px solid #999999; background-color: #FFFFFF; text-align:center;}

.tabunselect {padding: 4px; border-left:1px solid #CCCCCC; border-right: 1px solid #CCCCCC;
border-top: 1px solid #CCCCCC; border-bottom: 1px solid #999999; background-color: #EEEEEE; text-align:center;}

.tabspacer {border-bottom: 1px solid #999999; background-color: #F6F6F6;}

.tabspacer2 {border-bottom: 1px solid #999999; background-color: #F6F6F6; border-right: 1px solid #CCCCCC;}

.subtabs {padding: 6px; border-left:1px solid #999999; border-right: 1px solid #999999; border-bottom: 1px solid #CCCCCC;}

.subtabselect {font-weight: bold;}

.dottedline{background: transparent; border-bottom: 1px dotted #CCCCCC;}

.solidline{border-bottom:1px solid #999999;}

.contenttable {border-left:1px solid #999999; border-right: 1px solid #999999; background-color: #FFFFFF;}


.bold {font-weight: bold}

.requiredfield {color: #666666;}

.divline {background-image: url(core/images/line.gif);  background-repeat: repeat-x; background-position: center;}

.errorgeneral {background-color: #EEEEEE; border: 1px solid #000000; padding: 6px;}

.errortext {color: #AD0E25;}

.errorinline {background-color: #FFE3E7;}

.tabletitle{Font-size: 120%; font-weight: bold; text-align: left; padding: 8px; background-color: #F6F6F6; border-top: 1px solid #CCCCCC; border-bottom: 1px solid #CCCCCC;}

.tablesize {text-align: right; background-color: #F6F6F6; border-top: 1px solid #CCCCCC; border-bottom: 1px solid #CCCCCC; padding: 8px; }

.tablebuttonleft {background-color: #F6F6F6; padding: 8px; border-left: 1px solid #CCCCCC;}

.tablebuttonright {background-color: #F6F6F6; padding: 8px; border-right: 1px solid #CCCCCC;}

.tablebottom{border-bottom: 1px solid #CCCCCC;}

.tablehead {background-color: #CFDBEF; padding: 4px; border-top: 1px solid #6785A7;
border-bottom: 1px solid #6785A7; border-left: 1px solid #6785A7;}
	
.tableheadright {background-color: #CFDBEF; padding: 4px; border: 1px solid #6785A7;}

A.tableheadlink, A.tableheadlink:visited {font-weight: bold; color: #aa0000; }

A.tableheadlink:hover {font-weight: bold; color: #000000;}

.tablerowA {background-color: #FFFFFF; border-bottom: 1px solid #6785A7; border-left: 1px solid #6785A7; padding: 4px;}

.tablerowAright {background-color: #FFFFFF; border-bottom: 1px solid #6785A7; border-right: 1px solid #6785A7; border-left: 1px solid #6785A7; padding: 4px;}

.tablerowB {background-color: #EEEEEE; border-bottom: 1px solid #6785A7; border-left: 1px solid #6785A7; padding: 4px;}

.tablerowBright {background-color: #EEEEEE; border-bottom: 1px solid #6785A7; border-right: 1px solid #6785A7; border-left: 1px solid #6785A7; padding: 4px;}

.tablespacerleft {background-color: #F6F6F6; border-top: 1px solid #CCCCCC; border-bottom: 1px solid #CCCCCC; border-left: 1px solid #CCCCCC; padding: 2px;}

.tablespacerright{background-color: #F6F6F6; border-top: 1px solid #CCCCCC; border-bottom: 1px solid #CCCCCC; border-right: 1px solid #CCCCCC; padding: 2px;
}

.tableleft {background-color: #F6F6F6; border-left: 1px solid #CCCCCC; padding: 2px;}

.tableright{background-color: #F6F6F6;  border-right: 1px solid #CCCCCC; padding: 2px;
}

.marginright {border-right: 1px solid #999999;}

.marginleft {border-left: 1px solid #999999;}

.chooser {background-color: #E7EFFC; border: 1px solid #6785A7; padding-right: 4px; padding-left: 4px; padding-bottom: 2px; padding-top: 2px;}
	
.chooseroutside {background-color: #F6F6F6; border: 1px solid #CCCCCC; padding: 2px;}

.chooserselected {background-color: #19355E; color: #FFFFFF;}

.chooserright, A.chooserright, A.chooserright:VISITED {background-image: url(core/images/arrow_chooser_right.gif);  background-repeat: no-repeat;  background-color: transparent; padding: 4px;}

A.chooserright:HOVER {background-image: url(core/images/arrow_chooser_right_hover.gif);  background-repeat: no-repeat;  background-color: #F6F6F6; padding: 4px;}

.chooserrightdisabled {background-image: url(core/images/arrow_chooser_right_disabled.gif);  background-repeat: no-repeat;  background-color: #F6F6F6; padding: 4px; }

.chooserleft, A.chooserleft, A.chooserleftt:VISITED {background-image: url(core/images/arrow_chooser_left.gif); background-repeat: no-repeat; background-color: transparent; padding: 4px;}

A.chooserleft:HOVER {background-image: url(core/images/arrow_chooser_left_hover.gif); background-color: #F6F6F6; padding: 4px;}

.chooserleftdisabled { background-image: url(core/images/arrow_chooser_left_disabled.gif); background-color: #F6F6F6; background-repeat: no-repeat; padding: 4px;}

/* The following 3 styles create the grouped button */
div.buttonmenu { position:absolute; z-index:1; border:solid 1px #19355E; background-color:#E7EFFC; visibility:hidden; white-space:nowrap; cursor:pointer; cursor:hand; -moz-user-select:none; }

.marktop { font-family: Tahoma, Arial, Helvetica, sans-serif; text-decoration: none; text-align: center; color:#000000; background-color: #8EA8C6;  background-image: url(button_bg_menu.gif);  background-repeat: no-repeat; border: 1px solid #4A637B; padding-top: 2px; padding-bottom: 2px; padding-left: 8px; padding-right: 18px; background-position: right;}

.marktop:HOVER { font-family: Tahoma, Arial, Helvetica, sans-serif; text-decoration: none; text-align: center; color:#FFFFFF; background-color: #8EA8C6;  background-image: url(button_bg_menuHover.gif);  background-repeat: no-repeat; border: 1px solid #4A637B; padding-top: 2px; padding-bottom: 2px; padding-left: 8px; padding-right: 18px; background-position: right;}

html,
body {
   margin:0;
   padding:0;
   height:100%;
}
#container {
   min-height:100%;
   position:relative;
}
#header {
   padding:10px;
}
#body {
   padding:10px;
   padding-bottom:50px;   /* Height of the footer */
}
#mbean-ref-footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:50px;   /* Height of the footer */
   color:white;
   background:#19355e;
}
